[Unit]
Description=Frontend

[Service]
User=gold_calf
WorkingDirectory=/home/gold_calf/code/goldcalf-front
Environment=PATH=/home/gold_calf/.nvm/versions/node/v18.16.0/bin/:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin
ExecStart=/bin/bash -c "npm run build && npm run start"
Restart=always

[Install]
WantedBy=multi-user.target